In [1]:
import pandas as pd
data = [['Alex', 10], ['Bob', 12], ['Clarke', 13]]
df = pd.DataFrame(data, columns=['Name', 'Age'])
print(df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [2]:
df = pd.read_csv("employees_info.csv")
print(df)

                      name gender                   job title  \
0     Maximilianus Kertess      M          Biostatistician II
1           Hayley Robshaw      F  Administrative Assistant I
2          Margaret Anetts      F                Food Chemist
3              West Kittoe      M      Nuclear Power Engineer
4             Bucky Gillon      M            Dental Hygienist
...                    ...    ...                         ...
1000     Camila Calderhead      F           Account Executive
1001     Ann-marie Daveley      F            Quality Engineer
1002       Vance Nanninini      M     Accounting Assistant II
1003    Cherri Grzegorczyk      F             General Manager
1004    Marcelline Beville      F                    VP Sales

                    department         phone                     email  \
0     Research and Development  752-802-7785       mkertess0@imgur.com
1                    Marketing  540-813-4217                       NaN
2                     Services  593-431-7020                       NaN
3                     Services  762-464-6485       wkittoe3@ustream.tv
4                        Legal  419-969-8647          bgillon4@home.pl
...                        ...           ...                       ...
1000                     Legal  852-642-6882  ccalderhead9@latimes.com
1001                Accounting  804-815-7609   adaveleya@delicious.com
1002           Human Resources  453-422-7547     vnannininirk@time.com
1003               Engineering  582-848-6657   cgrzegorczykrl@ebay.com
1004                     Legal  361-849-9884     mbevillerm@spiegel.de

        residence                 address         time zone
0          Canada       18411 Sugar Point  America/Edmonton
1           China     1281 Namekagon Lane               NaN
2         Belgium       7404 Dakota Alley               NaN
3          Poland       92750 Buell Drive     Europe/Warsaw
4           China      3068 Morrow Street    Asia/Chongqing
...           ...                     ...               ...
1000    Indonesia       09172 Gateway Way     Asia/Makassar
1001  Philippines  908 Di Loreto Crossing       Asia/Manila
1002    Indonesia       961 Forster Plaza               NaN
1003     Malaysia            05 Ryan Pass               NaN
1004        China         01 Schurz Plaza     Asia/Shanghai

[1005 rows x 9 columns]

In [3]:
#get general info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1005 entries, 0 to 1004
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        1005 non-null   object
 1   gender      1005 non-null   object
 2   job title   1005 non-null   object
 3   department  1005 non-null   object
 4   phone       1005 non-null   object
 5   email       996 non-null    object
 6   residence   1002 non-null   object
 7   address     1001 non-null   object
 8   time zone   998 non-null    object
dtypes: object(9)
memory usage: 70.8+ KB

In [4]:
df['name']

0       Maximilianus Kertess
1             Hayley Robshaw
2            Margaret Anetts
3                West Kittoe
4               Bucky Gillon
                ...
1000       Camila Calderhead
1001       Ann-marie Daveley
1002         Vance Nanninini
1003      Cherri Grzegorczyk
1004      Marcelline Beville
Name: name, Length: 1005, dtype: object

In [5]:
df['gender']

0       M
1       F
2       F
3       M
4       M
       ..
1000    F
1001    F
1002    M
1003    F
1004    F
Name: gender, Length: 1005, dtype: object

In [6]:
#first row
#loc[<rows_to_select>,<columns_to_select>]
df.loc[0]

name              Maximilianus Kertess
gender                               M
job title           Biostatistician II
department    Research and Development
phone                     752-802-7785
email              mkertess0@imgur.com
residence                       Canada
address              18411 Sugar Point
time zone             America/Edmonton
Name: 0, dtype: object

In [7]:
#Get the records with row index 0 to 5 and with columns 'name' and 'job title'.

df.loc[0:5,["name","job title"]]

                   name                   job title
0  Maximilianus Kertess          Biostatistician II
1        Hayley Robshaw  Administrative Assistant I
2       Margaret Anetts                Food Chemist
3           West Kittoe      Nuclear Power Engineer
4          Bucky Gillon            Dental Hygienist
5         Ingunna Hizir       VP Product Management

In [8]:
#get records based on conditions
df.loc[(df["department"] == "Accounting"), ["name", "job title", "department"]]

                    name                             job title  department
10     Ann-marie Daveley                      Quality Engineer  Accounting
18        Willem Tamsett                      Graphic Designer  Accounting
34       Jaynell Baselli           Mechanical Systems Engineer  Accounting
43          Gale Workman  Business Systems Development Analyst  Accounting
68     Ingemar O' Dooley              Senior Financial Analyst  Accounting
...                  ...                                   ...         ...
943   Eberhard Josselson                   Account Coordinator  Accounting
945          Egor Pittam                    Analyst Programmer  Accounting
960     Michelina Gimert                 Safety Technician III  Accounting
997           Des Fayter               Assistant Media Planner  Accounting
1001   Ann-marie Daveley                      Quality Engineer  Accounting

[92 rows x 3 columns]

In [9]:
# Handling missing values in a dataset by imputation or deletion.
#Delete a column
del df['time zone']

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1005 entries, 0 to 1004
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        1005 non-null   object
 1   gender      1005 non-null   object
 2   job title   1005 non-null   object
 3   department  1005 non-null   object
 4   phone       1005 non-null   object
 5   email       996 non-null    object
 6   residence   1002 non-null   object
 7   address     1001 non-null   object
dtypes: object(8)
memory usage: 62.9+ KB

In [11]:
# Drop duplicates
df.drop_duplicates()

,name,gender,job title,department,phone,email,residence,address
0,Maximilianus Kertess,M,Biostatistician II,Research and Development,752-802-7785,mkertess0@imgur.com,Canada,18411 Sugar Point
1,Hayley Robshaw,F,Administrative Assistant I,Marketing,540-813-4217,NaN,China,1281 Namekagon Lane
2,Margaret Anetts,F,Food Chemist,Services,593-431-7020,NaN,Belgium,7404 Dakota Alley
3,West Kittoe,M,Nuclear Power Engineer,Services,762-464-6485,wkittoe3@ustream.tv,Poland,92750 Buell Drive
4,Bucky Gillon,M,Dental Hygienist,Legal,419-969-8647,bgillon4@home.pl,China,3068 Morrow Street
...,...,...,...,...,...,...,...,...
995,Dillon Howatt,M,Clinical Specialist,Research and Development,464-126-8895,dhowattrn@google.com,Mexico,402 Pond Lane
996,Carlyle McKinnon,M,Programmer II,Product Management,327-200-2857,cmckinnonro@mail.ru,Croatia,5 Amoth Place
997,Des Fayter,M,Assistant Media Planner,Accounting,133-479-3458,NaN,Sweden,79 Larry Pass
998,Amberly Gabb,F,Media Manager II,Product Management,919-701-1347,NaN,Paraguay,985 Summer Ridge Road
999,Leena Glowinski,F,Civil Engineer,Product Management,909-270-4772,NaN,South Africa,51 Stang Pass

In [12]:
print(df)

                      name gender                   job title  \
0     Maximilianus Kertess      M          Biostatistician II
1           Hayley Robshaw      F  Administrative Assistant I
2          Margaret Anetts      F                Food Chemist
3              West Kittoe      M      Nuclear Power Engineer
4             Bucky Gillon      M            Dental Hygienist
...                    ...    ...                         ...
1000     Camila Calderhead      F           Account Executive
1001     Ann-marie Daveley      F            Quality Engineer
1002       Vance Nanninini      M     Accounting Assistant II
1003    Cherri Grzegorczyk      F             General Manager
1004    Marcelline Beville      F                    VP Sales

                    department         phone                     email  \
0     Research and Development  752-802-7785       mkertess0@imgur.com
1                    Marketing  540-813-4217                       NaN
2                     Services  593-431-7020                       NaN
3                     Services  762-464-6485       wkittoe3@ustream.tv
4                        Legal  419-969-8647          bgillon4@home.pl
...                        ...           ...                       ...
1000                     Legal  852-642-6882  ccalderhead9@latimes.com
1001                Accounting  804-815-7609   adaveleya@delicious.com
1002           Human Resources  453-422-7547     vnannininirk@time.com
1003               Engineering  582-848-6657   cgrzegorczykrl@ebay.com
1004                     Legal  361-849-9884     mbevillerm@spiegel.de

        residence                 address
0          Canada       18411 Sugar Point
1           China     1281 Namekagon Lane
2         Belgium       7404 Dakota Alley
3          Poland       92750 Buell Drive
4           China      3068 Morrow Street
...           ...                     ...
1000    Indonesia       09172 Gateway Way
1001  Philippines  908 Di Loreto Crossing
1002    Indonesia       961 Forster Plaza
1003     Malaysia            05 Ryan Pass
1004        China         01 Schurz Plaza

[1005 rows x 8 columns]

In [13]:
df1=df.drop_duplicates()

In [14]:
print(df1)

                     name gender                   job title  \
0    Maximilianus Kertess      M          Biostatistician II
1          Hayley Robshaw      F  Administrative Assistant I
2         Margaret Anetts      F                Food Chemist
3             West Kittoe      M      Nuclear Power Engineer
4            Bucky Gillon      M            Dental Hygienist
..                    ...    ...                         ...
995         Dillon Howatt      M         Clinical Specialist
996      Carlyle McKinnon      M               Programmer II
997            Des Fayter      M     Assistant Media Planner
998          Amberly Gabb      F            Media Manager II
999       Leena Glowinski      F              Civil Engineer

                   department         phone                 email  \
0    Research and Development  752-802-7785   mkertess0@imgur.com
1                   Marketing  540-813-4217                   NaN
2                    Services  593-431-7020                   NaN
3                    Services  762-464-6485   wkittoe3@ustream.tv
4                       Legal  419-969-8647      bgillon4@home.pl
..                        ...           ...                   ...
995  Research and Development  464-126-8895  dhowattrn@google.com
996        Product Management  327-200-2857   cmckinnonro@mail.ru
997                Accounting  133-479-3458                   NaN
998        Product Management  919-701-1347                   NaN
999        Product Management  909-270-4772                   NaN

        residence                address
0          Canada      18411 Sugar Point
1           China    1281 Namekagon Lane
2         Belgium      7404 Dakota Alley
3          Poland      92750 Buell Drive
4           China     3068 Morrow Street
..            ...                    ...
995        Mexico          402 Pond Lane
996       Croatia          5 Amoth Place
997        Sweden          79 Larry Pass
998      Paraguay  985 Summer Ridge Road
999  South Africa          51 Stang Pass

[1000 rows x 8 columns]

In [15]:
df1=df.drop_duplicates(subset=['residence'])

In [16]:
print(df1)

                     name gender                   job title  \
0    Maximilianus Kertess      M          Biostatistician II
1          Hayley Robshaw      F  Administrative Assistant I
2         Margaret Anetts      F                Food Chemist
3             West Kittoe      M      Nuclear Power Engineer
5           Ingunna Hizir      F       VP Product Management
..                    ...    ...                         ...
901      Latashia Poynser      F       Chief Design Engineer
927          Meade Swayne      F               Accountant II
950         Garth Shelper      M               Senior Editor
973         Karissa Olech      F          Research Associate
974           Issie Goves      F           Financial Advisor

                   department         phone                     email  \
0    Research and Development  752-802-7785       mkertess0@imgur.com
1                   Marketing  540-813-4217                       NaN
2                    Services  593-431-7020                       NaN
3                    Services  762-464-6485       wkittoe3@ustream.tv
5                     Support  469-323-6703      ihizir5@netscape.com
..                        ...           ...                       ...
901      Business Development  110-862-1759   lpoynserp1@amazon.co.jp
927      Business Development  234-150-4588       mswaynepr@goo.ne.jp
950                     Legal  598-467-1690      gshelperqe@wiley.com
973                     Sales  264-870-5298        kolechr1@zdnet.com
974           Human Resources  775-909-4141  igovesr2@cyberchimps.com

       residence                   address
0         Canada         18411 Sugar Point
1          China       1281 Namekagon Lane
2        Belgium         7404 Dakota Alley
3         Poland         92750 Buell Drive
5         Russia      47709 Russell Circle
..           ...                       ...
901  North Korea            9 Artisan Hill
927     Paraguay       6499 Spenser Circle
950   Kyrgyzstan             073 Muir Hill
973      Ecuador  000 Independence Terrace
974          NaN             94 Muir Court

[125 rows x 8 columns]

In [17]:
df.drop_duplicates(subset=['residence', 'department'], keep='last')

,name,gender,job title,department,phone,email,residence,address
2,Margaret Anetts,F,Food Chemist,Services,593-431-7020,NaN,Belgium,7404 Dakota Alley
7,Netty Millhouse,F,Nuclear Power Engineer,Business Development,409-588-1227,nmillhouse7@ocn.ne.jp,Vietnam,07871 Mccormick Pass
16,Evangelin Folbigg,F,Engineer II,Sales,187-248-6176,efolbiggg@sciencedirect.com,Uganda,5 Saint Paul Hill
18,Willem Tamsett,M,Graphic Designer,Accounting,964-962-6881,wtamsetti@patch.com,Mongolia,8 6th Center
19,Tabbie Larby,M,Staff Accountant I,Business Development,789-540-7636,tlarbyj@sakura.ne.jp,Uganda,3071 Michigan Crossing
...,...,...,...,...,...,...,...,...
1000,Camila Calderhead,F,Account Executive,Legal,852-642-6882,ccalderhead9@latimes.com,Indonesia,09172 Gateway Way
1001,Ann-marie Daveley,F,Quality Engineer,Accounting,804-815-7609,adaveleya@delicious.com,Philippines,908 Di Loreto Crossing
1002,Vance Nanninini,M,Accounting Assistant II,Human Resources,453-422-7547,vnannininirk@time.com,Indonesia,961 Forster Plaza
1003,Cherri Grzegorczyk,F,General Manager,Engineering,582-848-6657,cgrzegorczykrl@ebay.com,Malaysia,05 Ryan Pass
1004,Marcelline Beville,F,VP Sales,Legal,361-849-9884,mbevillerm@spiegel.de,China,01 Schurz Plaza

In [18]:
# Count missing values in each column
print("\nMissing Values Count:\n", df.isnull().sum())

Missing Values Count:
 name          0
gender        0
job title     0
department    0
phone         0
email         9
residence     3
address       4
dtype: int64

In [19]:
# Percentage of missing values
print("\nMissing Values Percentage:\n", df.isnull().mean() * 100)

Missing Values Percentage:
 name          0.000000
gender        0.000000
job title     0.000000
department    0.000000
phone         0.000000
email         0.895522
residence     0.298507
address       0.398010
dtype: float64

In [20]:
#Drop Rows with Missing Values
df_dropped_rows = df.dropna()
print("\nAfter Dropping Rows:\n", df_dropped_rows)

After Dropping Rows:
                       name gender                     job title  \
0     Maximilianus Kertess      M            Biostatistician II
3              West Kittoe      M        Nuclear Power Engineer
4             Bucky Gillon      M              Dental Hygienist
5            Ingunna Hizir      F         VP Product Management
6            Crista Panyer      F  Structural Analysis Engineer
...                    ...    ...                           ...
1000     Camila Calderhead      F             Account Executive
1001     Ann-marie Daveley      F              Quality Engineer
1002       Vance Nanninini      M       Accounting Assistant II
1003    Cherri Grzegorczyk      F               General Manager
1004    Marcelline Beville      F                      VP Sales

                    department         phone                     email  \
0     Research and Development  752-802-7785       mkertess0@imgur.com
3                     Services  762-464-6485       wkittoe3@ustream.tv
4                        Legal  419-969-8647          bgillon4@home.pl
5                      Support  469-323-6703      ihizir5@netscape.com
6                     Training  182-648-7898    cpanyer6@xinhuanet.com
...                        ...           ...                       ...
1000                     Legal  852-642-6882  ccalderhead9@latimes.com
1001                Accounting  804-815-7609   adaveleya@delicious.com
1002           Human Resources  453-422-7547     vnannininirk@time.com
1003               Engineering  582-848-6657   cgrzegorczykrl@ebay.com
1004                     Legal  361-849-9884     mbevillerm@spiegel.de

        residence                   address
0          Canada         18411 Sugar Point
3          Poland         92750 Buell Drive
4           China        3068 Morrow Street
5          Russia      47709 Russell Circle
6       Indonesia  775 International Center
...           ...                       ...
1000    Indonesia         09172 Gateway Way
1001  Philippines    908 Di Loreto Crossing
1002    Indonesia         961 Forster Plaza
1003     Malaysia              05 Ryan Pass
1004        China           01 Schurz Plaza

[989 rows x 8 columns]

In [21]:
#deletion
#Drop Columns with Missing Values
df_dropped_cols = df.dropna(axis=1)
print("\nAfter Dropping Columns:\n", df_dropped_cols)

After Dropping Columns:
                       name gender                   job title  \
0     Maximilianus Kertess      M          Biostatistician II
1           Hayley Robshaw      F  Administrative Assistant I
2          Margaret Anetts      F                Food Chemist
3              West Kittoe      M      Nuclear Power Engineer
4             Bucky Gillon      M            Dental Hygienist
...                    ...    ...                         ...
1000     Camila Calderhead      F           Account Executive
1001     Ann-marie Daveley      F            Quality Engineer
1002       Vance Nanninini      M     Accounting Assistant II
1003    Cherri Grzegorczyk      F             General Manager
1004    Marcelline Beville      F                    VP Sales

                    department         phone
0     Research and Development  752-802-7785
1                    Marketing  540-813-4217
2                     Services  593-431-7020
3                     Services  762-464-6485
4                        Legal  419-969-8647
...                        ...           ...
1000                     Legal  852-642-6882
1001                Accounting  804-815-7609
1002           Human Resources  453-422-7547
1003               Engineering  582-848-6657
1004                     Legal  361-849-9884

[1005 rows x 5 columns]

In [22]:
#Drop Rows/Columns with Specific Threshold
df_threshold = df.dropna(thresh=2)  # Keep rows with at least 2 non-NaN values
print("\nAfter Threshold Drop:\n", df_threshold)

After Threshold Drop:
                       name gender                   job title  \
0     Maximilianus Kertess      M          Biostatistician II
1           Hayley Robshaw      F  Administrative Assistant I
2          Margaret Anetts      F                Food Chemist
3              West Kittoe      M      Nuclear Power Engineer
4             Bucky Gillon      M            Dental Hygienist
...                    ...    ...                         ...
1000     Camila Calderhead      F           Account Executive
1001     Ann-marie Daveley      F            Quality Engineer
1002       Vance Nanninini      M     Accounting Assistant II
1003    Cherri Grzegorczyk      F             General Manager
1004    Marcelline Beville      F                    VP Sales

                    department         phone                     email  \
0     Research and Development  752-802-7785       mkertess0@imgur.com
1                    Marketing  540-813-4217                       NaN
2                     Services  593-431-7020                       NaN
3                     Services  762-464-6485       wkittoe3@ustream.tv
4                        Legal  419-969-8647          bgillon4@home.pl
...                        ...           ...                       ...
1000                     Legal  852-642-6882  ccalderhead9@latimes.com
1001                Accounting  804-815-7609   adaveleya@delicious.com
1002           Human Resources  453-422-7547     vnannininirk@time.com
1003               Engineering  582-848-6657   cgrzegorczykrl@ebay.com
1004                     Legal  361-849-9884     mbevillerm@spiegel.de

        residence                 address
0          Canada       18411 Sugar Point
1           China     1281 Namekagon Lane
2         Belgium       7404 Dakota Alley
3          Poland       92750 Buell Drive
4           China      3068 Morrow Street
...           ...                     ...
1000    Indonesia       09172 Gateway Way
1001  Philippines  908 Di Loreto Crossing
1002    Indonesia       961 Forster Plaza
1003     Malaysia            05 Ryan Pass
1004        China         01 Schurz Plaza

[1005 rows x 8 columns]

In [36]:
#imputation
#Fill Missing Values with Default Values
df_filled_default = df.fillna("U")
print("\nAfter Filling with Default Value:\n", df_filled_default)

After Filling with Default Value:
                       name gender                   job title  \
0     Maximilianus Kertess      M          Biostatistician II
1           Hayley Robshaw      F  Administrative Assistant I
2          Margaret Anetts      F                Food Chemist
3              West Kittoe      M      Nuclear Power Engineer
4             Bucky Gillon      M            Dental Hygienist
...                    ...    ...                         ...
1000     Camila Calderhead      F           Account Executive
1001     Ann-marie Daveley      F            Quality Engineer
1002       Vance Nanninini      M     Accounting Assistant II
1003    Cherri Grzegorczyk      F             General Manager
1004    Marcelline Beville      F                    VP Sales

                    department         phone                     email  \
0     Research and Development  752-802-7785       mkertess0@imgur.com
1                    Marketing  540-813-4217                         U
2                     Services  593-431-7020                         U
3                     Services  762-464-6485       wkittoe3@ustream.tv
4                        Legal  419-969-8647          bgillon4@home.pl
...                        ...           ...                       ...
1000                     Legal  852-642-6882  ccalderhead9@latimes.com
1001                Accounting  804-815-7609   adaveleya@delicious.com
1002           Human Resources  453-422-7547     vnannininirk@time.com
1003               Engineering  582-848-6657   cgrzegorczykrl@ebay.com
1004                     Legal  361-849-9884     mbevillerm@spiegel.de

        residence                 address         time zone
0          Canada       18411 Sugar Point  America/Edmonton
1           China     1281 Namekagon Lane                 U
2         Belgium       7404 Dakota Alley                 U
3          Poland       92750 Buell Drive     Europe/Warsaw
4           China      3068 Morrow Street    Asia/Chongqing
...           ...                     ...               ...
1000    Indonesia       09172 Gateway Way     Asia/Makassar
1001  Philippines  908 Di Loreto Crossing       Asia/Manila
1002    Indonesia       961 Forster Plaza                 U
1003     Malaysia            05 Ryan Pass                 U
1004        China         01 Schurz Plaza     Asia/Shanghai

[1005 rows x 9 columns]

In [62]:
#Correcting inconsistencies in data entry
#Standardize Formats
#Convert text to lowercase or title case.
df['name'] = df['name'].str.title()

In [25]:
print(df['name'])

0       Maximilianus Kertess
1             Hayley Robshaw
2            Margaret Anetts
3                West Kittoe
4               Bucky Gillon
                ...
1000       Camila Calderhead
1001       Ann-marie Daveley
1002         Vance Nanninini
1003      Cherri Grzegorczyk
1004      Marcelline Beville
Name: name, Length: 1005, dtype: object

In [26]:
df['name'] = df['name'].str.lower()

In [27]:
print(df['name'])

0       maximilianus kertess
1             hayley robshaw
2            margaret anetts
3                west kittoe
4               bucky gillon
                ...
1000       camila calderhead
1001       ann-marie daveley
1002         vance nanninini
1003      cherri grzegorczyk
1004      marcelline beville
Name: name, Length: 1005, dtype: object

In [68]:
#df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d')

In [28]:
df['gender'] = df['gender'].replace({'M': 'Male', 'F': 'Female'})

In [29]:
print(df['gender'])

0         Male
1       Female
2       Female
3         Male
4         Male
         ...
1000    Female
1001    Female
1002      Male
1003    Female
1004    Female
Name: gender, Length: 1005, dtype: object

In [30]:
#remove non-numeric characters
df['phone'] = df['phone'].str.replace(r'-', '', regex=True)

In [31]:
print(df['phone']) Filter based on criteria

0       7528027785
1       5408134217
2       5934317020
3       7624646485
4       4199698647
           ...
1000    8526426882
1001    8048157609
1002    4534227547
1003    5828486657
1004    3618499884
Name: phone, Length: 1005, dtype: object

In [3]:
# Filter based on criteria
data = {
    'age': [25, 27, 15, 45, 100, -5],
    'salary': [50000, 60000, 120000, 150000, 30000, None],
    'experience': [2, 5, 0, 10, 0, 20],
    'location': ['NY', 'LA', 'SF', 'NY', 'LA', 'SF']
}

# Create DataFrame
df = pd.DataFrame(data)

# Show the original data
print("Original Data:")
print(df)# Filter based on criteria

Original Data:
   age    salary  experience location
0   25   50000.0           2       NY
1   27   60000.0           5       LA
2   15  120000.0           0       SF
3   45  150000.0          10       NY
4  100   30000.0           0       LA
5   -5       NaN          20       SF

In [4]:
# Filter based on criteria
# Filter out rows where 'age' is less than 18 or greater than 100
filtered_df = df[
    (df['age'] >= 18) & (df['age'] <= 100)           
   
]
# Show filtered data
print("\nFiltered Data:")
print(filtered_df)

Filtered Data:
   age    salary  experience location
0   25   50000.0           2       NY
1   27   60000.0           5       LA
3   45  150000.0          10       NY
4  100   30000.0           0       LA

In [8]:
# Filter out rows where 'experience' is less than 1 or greater than 30

filtered_df = df[
    (df['experience'] >= 1) & (df['experience'] < 20) # Experience criteria
]

# Show filtered data
print("\nFiltered Data:")
print(filtered_df)

Filtered Data:
   age    salary  experience location
0   25   50000.0           2       NY
1   27   60000.0           5       LA
3   45  150000.0          10       NY

In [24]:
#Cleaning textual data by removing HTML tags, punctuation, and special characters.
#re.sub(pattern, replacement, text):
import re
text = "Hello #GLS @Ahmedabad Studnets <p>  <br>  at www.glsuniversity.ac.in"
print(text)
def remove_html_tags(text): 
    clean_text = re.sub(r'<.*?>', '', text) 
    return clean_text
def remove_special_characters(text): 
    clean_text = re.sub(r'[^a-zA-Z0-9\s]', '', text) 
    return clean_text

remove_html = remove_html_tags(text)
print(remove_html)

remove_sChar = remove_special_characters(remove_html)
print(remove_sChar)

Hello #GLS @Ahmedabad Studnets <p>  <br>  at www.glsuniversity.ac.in
Hello #GLS @Ahmedabad Studnets     at www.glsuniversity.ac.in
Hello GLS Ahmedabad Studnets     at wwwglsuniversityacin